footer {
  background: #191919;
  padding: 30px 0;
  .footer__content {
    .footer__cards {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .footer__card {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        h1 {
          color: #fff;
          font-family: sans-serif;
          font-weight: 700;
          font-size: 32px;
          padding: 25px 0;
        }
        h2 {
          color: #fff;
          font-family: sans-serif;
          font-weight: 600;
          font-size: 28px;
          padding: 25px 0;
        }
        p {
          color: #fff;
          font-family: sans-serif;
          font-weight: 600;
          font-style: 28px;
        }
        .footer__links {
          color: #3f3f3f;
          font-family: sans-serif;
          font-weight: 700;
          font-size: 18px;
          transition: 0.3s;
          &:hover {
            color: #fff;
            text-decoration: underline;
            text-underline-offset: 5px;
          }
        }
        .form {
          padding-top: 50px;
          input {
            font-family: sans-serif;
            color: #fff;
            outline: none;
            border: 1px solid #fff;
            border-radius: 12px;
            padding: 10px 15px;
            font-size: 16px;
            background: transparent;
          }
        }

        .footer__links + .footer__links {
          padding-top: 24px;
        }
      }
    }
  }
}
